- [0,1,2,3,4,5].each do |product|
  .col-md-12
    .article
      %h2
        Shoes
      %p.description
        Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
      .more
        %a{href: "#"}
          >> More details